@media only all and ( max-width: 50em ), only all and (max-device-width : 800px), only all and (max-width:780px) {
  .theClass {
    some-css : here
  }
}

/** expected **/

@media only all and (max-width:50em),only all and (max-device-width:800px),only all and (max-width:780px){.theClass{some-css:here}}